---
permalink: /favicon.svg
eleventyExcludeFromCollections: true
---
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">  <image id="image0" width="48" height="48" x="0" y="0"
    xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QA/wD/AP+gvaeTAAAA
CXBIWXMAAAsSAAALEgHS3X78AAAIHUlEQVRo3u1ZXYwbVxX+vjszttfebBIQPCIEeDaIQqUKgYQA
CdF3BLRSu+O0hKLQ1ONU8MQLzzzwp2bHadSUIpUdkxL1DfEGEgIqoEJCoD5kJlF4AaRC2uxm197x
3HsPDzPeX3vXUXaTIOVoR/aOZ8493/m55+cSWyhIIsZ+KOX3RwF0AHyO5HEREZLEAZOICBUpVlYB
vAnipbgZXiplULEf2iCNEDfDse/vEii4/jyQN1/xGrVTAKAHQ4i1hyL8ThBOtQKn4iJbXvu1AI/3
/PDdEYiFpIue3971rtp1J2++Un//0VO6n+l8bV2PhBcROTThSYoV0YPMDFf6w9p7j3yRxC+/+u/v
cWSB2Xz88tsABGn0qNeonRr8Z0WLiEPSJQHB4bgPAJR8BSBIOiLiZe+sZrXjs5+p3TrSKVDCeXdG
7w8Agk6pFWxqnSQOz302cYAiIgQhIq4eDAHwaQCYccRUtDcFAODzxYtwAByq309AQUAAgDY3AOSD
QRIde/nDHQAyVha1g8GxDZ/Hobj8NCjAwgwgUSFlrrw9lrYB2AiowpR3VftbIYy2CxFABHb0fRy5
28EXQt9t19mFYLQ6R39TWuD/kR4AuNf0AMC9pgcA7jU9AHCv6b4EsFE2FKWEbLu3g9wped5duo1S
4n4EINy0gAhogMkWuP9cqPAZoaMAYtmCN4ofOBbC/QWgbAUBGKdWAYA//txvZyeTrpLx8u9yIdn8
IijbuwI/SSnaIu54vmg9y9aWuL1KfLQgIRASENEkPZPlAPB9ALAQ9CaMVXZawI4uglZELEkD0haL
FE3PTiYkQcACtFt5THOxvERgKWLdWsX1ZmuwWd6Jm+GfgyRyYj+0QbK4vwXcRs3ZqR+SsLmByfLR
pIJSKIsjTADo1qtOuV/cht632hEQbaHXh1exju/Efvj6QvoiHbtuFq52YZzx3r4NQL62HmzRNElC
RBSAsHqs8anhct+U91UJAlAkrAx0f/3bAFekEEV2OlvJs5x2wAXEktzY5Ek6AvxjaOX3l090dJCc
V7SZfXX+W2glEXofOTMWwNQOGyTRRW+29g0zGMIa0SRcAJaOUqLNsoDvif22nZbfPms5sR8aAGil
57DUPDvx2W0AWmn3RqkQFLMy1gD5lTFsXfpoOw+S6BkA5916tWL6w1wgjnIdZbVZA/g+Uj4O4DcA
13fGe6l9KyJ1AKdjP4yDJKqS0KPpkxQhZnt+iIWkCxKIm23sRdsAnLx+YbtzisBr1JAtr10B8UTc
DP8aJNEnQLxWnWucyFbWcirlwdo1EXWctJ90G7U3zHo+PnWKQHkO9GDYB/Bw7IdXR9oOkgixH+J2
aftYRRsr2libl5/a2Gy5n7sz1XkI3gzS6NnYD/+WGfOxbGXtUmV2xqMiRGAIgQDWDjXEWCNa2xG/
DZ7GWj0Y5l6jWgfw2pf+vshSeMZ+iFYa3RmA8n9FQhVWJUl4ejDUdJRbmZ15MUiinzk1B3EzfHK4
Oni+nGnOCmkpIFjMpErrqi08WQ77PN3P8uqxxiOzVV4oHUEtXPshRBS+dv3HdwRgq2+VY10ICVes
tcNb67p6tNFyh3grSKKH42Z4zmr9WYG8RbFVIfYKYkoxHRQRuMPlvq4cmTkdJNHJ2G8bmpob+88h
zytopYuYlvYpJVgMXQEhqEBxhiv93J2pngDxlyCJvh43wz8A8oUlP+wDcDFKymO5FVO3cvqndD8D
gItBEp2I/bYu4mHvoL1NANusIWWZ4Jn1bOjVaw6A77bSH7lxs3OjfE6V48CJ23OhEBGSSqzVXr1a
BXC5lZ7zYj80rTTiUrODVnru4ACMlt4YWQpcawxI3BKxEiTnVfEDXCoChN3ajOxWSJHWALp6kOXV
Y42HAHWx4KHUU9d+AGs9BOn5gwSw0VwQRTRCBIoUAV1bPvBPO8w1FR1hUW5MONnhlsrKzW72tTc7
83QrjZ6J/eeMMTNub/4MIBatq92DA7Bpi00xACBuni6yZzNMBTjj1qsoZS8OLICJIIqdTlS+lgHA
hVYaPRT7bR2kkRP7IfY72DrAfkDMU2mk4mb4cr466FaO1h0AGkRR/U0EIQJQiVjt1CquAK8/kXZr
cTM0QRoxbrbRSidb4cAAkIAphYybYZjdXPtd5ciMJyI5Nqq2SW+KEHTN+jCvzjV8B/ITAIAFg2td
WCM4efWFwwUgAsTNUIIkGgX0Y8Nbg7edqueJiNkjHkanR0V+WOnrypH6QpBGz8bzoYURt3cihLXO
2CR3oBZopRGK5qPr9ubDtwF82WozOn20E49rC3Bl1ycqXx0AQDdIo0diPyzzQ4g8rxweAACwFgiS
LmK/rVtJ5MZ++IYYe8Y7MjOqRGVUde5WAIv8ACoR0W61oiC4/OSVxcZmvTTNQfcdUG8+BGFx8tp5
WLG6lXad2A8vDFf6L1WO1l2SujBW0caMMUSxRYOuyfK8crT+IUX+dARw4cruEuPApxJLfgfGCHrz
ZyFiLQDEfvjN7Oban9xGrQjqzaQ4iUREvHxloCtz9ceDJDq71GxbpdSuOZba+d40l0ipP4GUBdq2
/brnt9FKFxH7nc2gJr6Srw7+61RcTyCGxaBn7NYqZS8uIiq/NQDJF4Ik+vRSs633BEClON1Fh64C
CZeUsaO/pWYHZZNigyRye83wXwAeK4JVFUE9oaUdpY6i9xbjVD0A+EWQLs7tCUCMvTnVZeUdvZZl
IrhpRU0cvooLtAoQupV03dgPf2u16TgVt0wNsk92ECHp6PVhXpmrfwDCV3c+9z8fmNQUJudxLQAA
ACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMC0xMi0wNFQxNjowNTozMyswMzowML9vUL0AAAAldEVYdGRh
dGU6bW9kaWZ5ADIwMjAtMTItMDRUMTY6MDU6MzMrMDM6MDDOMugBAAAAAElFTkSuQmCC" />
</svg>