---
title:
layout: layouts/home.njk
description: The Rahat Codes Blog and Tutorial Archive
image: img/rahatcodeslogo.png
date: Last Modified
---

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>